@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: radial-gradient(#e5e5e5 1px, transparent 1px);
  background-size: 20px 20px;
}

@media only screen and (min-width: 800px) {}

.container {
  max-width: 740px;
  padding-right: 20px;
  padding-left: 20px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #0084D1FF;
}

::selection {
  color: #fff;
  background: #0084D1FF;
}

.active-link {
  border-bottom: 1px solid #0084D1FF;
  color: #0084D1FF;
}

.react-activity-calendar__legend-month,
.react-activity-calendar__legend-colors,
.react-activity-calendar__count {
  color: #737373FF;
  font-weight: 400;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}